/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  position: fixed;
  top: 0;
  align-items: center;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  outline: 0;
}

/***************
NAVBAR
****************/
nav a, .nav-link {
  display: flex;
}
nav a img {
  width: 43%;
  height: 100%;
}

.nav-link {
  position: fixed;
  top: 0;
  right: 5%;
  width: 20%;
  height: inherit;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link a {
  font-weight: bold;
  color: black;
  padding: 10px;
}

.nav-link a:hover {
  color:white;
  background-color: #61aab8;
}

/***************
CAROUSEL
****************/
#carousel {
  position: relative;
  top: 80px;
  display: flex;
  justify-content: center;
  height: 420px;
  width: 100vw;
}

#carousel #carousel-text {
  position: relative;
  top: 300px;
  font-size: 20pt;
  color: #fff;
  text-shadow: 2px 2px #252525;
  z-index: 1;
}

#carousel .carousel-image {
  position: absolute;
  display: block;
  margin: auto;
  min-width: 100%;
  height: 420px;
  opacity: 1;
  transition: opacity 1s ease-in;
}

#carousel .carousel-image.hidden {
  opacity: 0;
}
